@use "../utilities/variables";
@use "../utilities/mixins";
// Footer

footer {
  background-color: variables.$bgPrincipal;
  color: variables.$colorPrincipal;
  margin-top: auto;
  padding-top: 0.5rem;

  @media (max-width: variables.$anchoPc) {
    padding-top: 0.25rem;
  }

  .social-media {
    @include mixins.social-media(none);

    @media (max-width: variables.$anchoPc) {
      display: flex;
    }
  }

  .social-link {
    @extend .social-link;
  }

  article {
    text-align: center;
    padding: 0.25rem;

    p {
      justify-content: space-around;
      align-items: center;
      margin: 0.25rem;
    }
  }
}
