@use "../utilities/variables";
@use "../utilities/mixins";
// Footer

footer {
    background-color: variables.$bgPrincipal;
    color: variables.$colorPrincipal;
    margin-top: auto;
    padding-top: .5rem;

    @media (max-width: variables.$anchoPc) {
        padding-top: .25rem;
    }

    .social-media {
        @include mixins.social-media(none);

        @media (max-width: variables.$anchoPc) {
            display: flex;
        }
    }

    .social-link {
        padding: .25rem;
        margin: .25rem;
        text-align: center;
    }

    article {
        text-align: center;
        padding: .25rem;

        p {
            justify-content: space-around;
            align-items: center;
            margin: .25rem;
        }
    }
}