@use "../utilities/variables";
@use "../utilities/extends";
/* Contenido principal */

main {
    background-color: variables.$bgMain;
    color: variables.$colorMain;

    .principal {
        padding-top: min(1rem, 4%);
        padding-right: min(1.5rem, 6%);
        padding-left: min(1.5rem, 6%);

        h1 {
            font-size: clamp(1.5rem, calc(6vw + 1rem), 4rem);
            text-align: center;
        }

        p {
            text-align: justify;
        }
    }

    .secundario {
        padding-top: min(1rem, 4%);
        padding-right: min(1.5rem, 6%);
        padding-bottom: min(1rem, 4%);
        padding-left: min(1.5rem, 6%);

        article {
            h2 {
                font-size: clamp(1rem, calc(4vw + .5rem), 2rem);
                text-align: center;
            }

            p {
                text-align: justify;
            }
        }
    }
}

.link-catapultas {
    text-align: center;

    img {
        @extend .imagen;
        max-height: 300px;
    }
}

.cat-imagen {
    @extend .imagen;
    width: 100%;
    object-fit: cover;
}

// @media(max-width: 992px) {

// }

/* Estilos para el formulario */
.contact-form {
    max-width: 600px;
    width: 100%;
}

.contact-fieldset {
    border: 1px solid variables.$bgPrincipal;
    border-radius: 5px;
    box-shadow: 3px 3px variables.$colorShadow;
}

.btn-custom {
    background-color: variables.$bgPrincipal;
    color: variables.$colorPrincipal;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: variables.$colorHover;
    color: variables.$colorMain;
}