@use "../utilities/variables";
@use "../utilities/extends";
@use "../utilities/mixins";
/* Contenido principal */

main {
  background-image: linear-gradient(
    to bottom,
    variables.$bgMain,
    variables.$bgMainLow
  );
  color: variables.$colorMain;
  flex: 1 1 auto;

  .principal {
    @include mixins.responsive-padding(1rem, 1.5rem, null, 1.5rem);

    h1 {
      font-size: 4rem;
      text-align: center;
    }

    p {
      text-align: justify;
      margin-bottom: 0.75rem;
    }
  }

  .secundario {
    @include mixins.responsive-padding(0.5rem, 1.5rem, 1rem, 1.5rem);

    article {
      h2 {
        font-size: 2rem;
        text-align: center;
      }

      p {
        text-align: justify;
        margin-bottom: 0.75rem;
      }
    }
  }
}

.link-catapultas {
  text-align: center;

  img {
    @extend .imagen;
    max-height: 300px;
  }
}

.cat-imagen {
  @extend .imagen;
  width: 100%;
  object-fit: cover;
}

.cat-descripcion {
  @extend .secundario;
}

.carousel {
  background-color: rgba(variables.$bgPrincipal, 0.8);
  border-radius: 5px;
  .carousel-item {
    text-align: center;
    img {
      @extend .cat-imagen;
      max-height: 450px;
      margin: 0;
      object-fit: contain;
    }
  }
}

/* Estilos para el formulario */
.formulario {
  justify-content: center;
  align-items: center;
  @include mixins.responsive-padding(0.5rem, 1.5rem, 0.5rem, 1.5rem);
}

.contact-form {
  max-width: 600px;
  width: 100%;
}

.contact-fieldset {
  border: 1px solid variables.$bgPrincipal;
  border-radius: 5px;
  box-shadow: 3px 3px variables.$colorShadow;
  padding: 1.5rem;
  margin-bottom: 1rem;

  legend {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
  }
}

.mensaje {
  text-align: center;
  margin-bottom: 1rem;

  label {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.btn-submit {
  text-align: center;
  margin-bottom: 1rem;

  .btn-custom {
    @include mixins.btn-custom(
      variables.$bgPrincipal,
      variables.$colorPrincipal,
      variables.$colorHover,
      variables.$colorMain
    );
  }
}

/* Información de contacto */
.contacto-info {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: auto;

  p {
    text-align: center;
    margin: 0.25rem 0;
  }

  iframe {
    border: none;
    height: 300px;
    width: 400px;
    border-radius: 5px;
    margin: 1rem;
  }
}

@media (max-width: variables.$anchoPc) {
  main {
    .principal {
      @include mixins.responsive-padding(0.5rem, 0.65rem, null, 0.65rem);

      h1 {
        font-size: 2rem;
      }

      p {
        margin-bottom: 0.35rem;
      }
    }

    .secundario {
      @include mixins.responsive-padding(0.2rem, 0.65rem, 0.5rem, 0.65rem);

      article {
        h2 {
          font-size: 1.5rem;
        }

        p {
          margin-bottom: 0.35rem;
        }
      }
    }
  }

  .formulario {
    @include mixins.responsive-padding(0.2rem, 0.65rem, 0.2rem, 0.65rem);
  }

  .contact-fieldset {
    padding: 0.65rem;
    margin-bottom: 0.25rem;

    legend {
      font-size: 1.25rem;
      margin-bottom: 0.25rem;
    }

    label {
      margin-bottom: 0.25rem;
    }

    input {
      margin-bottom: 0.25rem;
    }
  }

  .mensaje {
    margin-bottom: 0.25rem;

    label {
      font-size: 1.25rem;
      margin-bottom: 0.25rem;
    }
  }

  .btn-submit {
    margin-bottom: 0.25rem;

    .btn-custom {
      @include mixins.responsive-padding(0.2rem, 0.65rem, 0.2rem, 0.65rem);
    }
  }

  .contacto-info {
    margin-top: 0.5rem;
    margin-bottom: auto;

    iframe {
      max-width: 300px;
      max-height: 300px;
      margin: 0.25rem;
    }
  }

  .carousel {
    .carousel-item {
      img {
        height: 300px;
      }
    }
  }
}
