@use "../utilities/variables";
/* Barra de navegación */

header {
    nav {
        background-color: variables.$bgPrincipal;
        padding: 0.5rem 1rem;

        a {
            color: variables.$colorPrincipal;
            text-decoration: none;

            img {
                max-height: 70px;
            }
        }

        .navbar {
            .navbar-nav {
                list-style: none;
            }
        }
    }
}

.nav-link {
    color: variables.$colorPrincipal;

    &.active, &.show {
        color: variables.$colorActual !important;
        font-weight: bold;
    }

    &:hover {
        color: variables.$colorHover;
    }
}

.navbar-toggler {
    background-color: variables.$bgToggler;
    color: variables.$colorToggler;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media(max-width: 992px) {
    .navbar-brand {
        margin-left: auto;
    }
}

.social-media img {
    border-radius: 100%;
    border: 1px solid variables.$bgMain;
    background-color: variables.$bgMain;
    width: 2rem;
}