@use "./variables";
// MIXINS

@mixin social-media($mostrar) {
  display: $mostrar;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 100%;
    border: 1px solid variables.$bgMain;
    background-color: variables.$bgMain;
    width: 2rem;
  }
}

@mixin responsive-padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin btn-custom($bg, $color, $hover-bg, $hover-color) {
  background-color: $bg;
  color: $color;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1.5rem;

  &:hover {
    background-color: $hover-bg;
    color: $hover-color;
  }
}
