// Colores
$bgPrincipal: #141b38;
$colorPrincipal: #ededed;
$colorActual: #8d95b4;
$colorHover: #324cdd;
$bgToggler: #8d95b47c;
$colorToggler: #aaa;
$bgMain: #d7efff;
$colorMain: #272727;
$colorShadow: #777;

// Medidas
$anchoPc: 992px;

