@charset "UTF-8";
/* Fuente Libre Franklin */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* Reset de CSS para eliminar los estilos por defecto que traen los navegadores */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* font-family: "Libre Franklin", sans-serif; */
/* Para que todas las páginas tengan la misma fuente la declaramos en el body */
body {
  font-family: "Libre Franklin", sans-serif;
}

/* Barra de navegación */
header nav {
  background-color: #141b38;
  padding: 0.5rem 1rem;
}
header nav .nav-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
header nav a {
  color: #ededed;
  text-decoration: none;
}
header nav a img {
  display: inline-block;
  vertical-align: text-top;
  max-height: 70px;
}

.navbar .navbar-nav {
  list-style: none;
}
.navbar .navbar-nav .nav-link {
  color: #ededed;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show {
  color: #8d95b4;
  font-weight: bold;
}
.navbar .navbar-nav .nav-link:hover {
  color: #324cdd;
}

.navbar-toggler {
  background-color: rgba(141, 149, 180, 0.4862745098);
  color: #aaa;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
  margin-right: auto;
  margin-left: 0.5rem;
}

.navbar-collapse {
  justify-content: center;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media img {
  border-radius: 100%;
  border: 1px solid #d7efff;
  background-color: #d7efff;
  width: 2rem;
}

.social-link {
  padding: 0.25rem;
  margin: 0.25rem;
  text-align: center;
}

@media (max-width: 992px) {
  .navbar-brand {
    margin-right: 0;
    margin-left: auto;
  }
  .social-media {
    display: none;
  }
}
.imagen, .link-catapultas img, .cat-imagen {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 0.25rem 0.65rem 1rem 0.65rem;
}
@media (max-width: 992px) {
  .imagen, .link-catapultas img, .cat-imagen {
    margin: 0.2rem 0.4rem 0.5rem 0.3rem;
  }
}

/* Contenido principal */
body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #d7efff;
  color: #272727;
  flex: 1 1 auto;
}
main .principal {
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
main .principal h1 {
  font-size: 4rem;
  text-align: center;
}
main .principal p {
  text-align: justify;
  margin-bottom: 0.75rem;
}
main .secundario, main .cat-descripcion {
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}
main .secundario article h2, main .cat-descripcion article h2 {
  font-size: 2rem;
  text-align: center;
}
main .secundario article p, main .cat-descripcion article p {
  text-align: justify;
  margin-bottom: 0.75rem;
}

.link-catapultas {
  text-align: center;
}
.link-catapultas img {
  max-height: 300px;
}

.cat-imagen {
  width: 100%;
  object-fit: cover;
}

/* Estilos para el formulario */
.formulario {
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.contact-form {
  max-width: 600px;
  width: 100%;
}

.contact-fieldset {
  border: 1px solid #141b38;
  border-radius: 5px;
  box-shadow: 3px 3px #777;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
.contact-fieldset legend {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact-fieldset label {
  margin-bottom: 1rem;
}
.contact-fieldset input {
  margin-bottom: 1rem;
}

.mensaje {
  text-align: center;
  margin-bottom: 1rem;
}
.mensaje label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn-submit {
  text-align: center;
  margin-bottom: 1rem;
}
.btn-submit .btn-custom {
  background-color: #141b38;
  color: #ededed;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.btn-submit .btn-custom:hover {
  background-color: #324cdd;
  color: #272727;
}

@media (max-width: 992px) {
  main .principal {
    padding-top: 0.5rem;
    padding-right: 0.65rem;
    padding-left: 0.65rem;
  }
  main .principal h1 {
    font-size: 2rem;
  }
  main .principal p {
    margin-bottom: 0.35rem;
  }
  main .secundario, main .cat-descripcion {
    padding: 0.2rem 0.65rem 0.5rem 0.65rem;
  }
  main .secundario article h2, main .cat-descripcion article h2 {
    font-size: 1.5rem;
  }
  main .secundario article p, main .cat-descripcion article p {
    margin-bottom: 0.35rem;
  }
  .formulario {
    padding: 0.2rem 0.65rem 0.2rem 0.65rem;
  }
  .contact-fieldset {
    padding: 0.65rem;
    margin-bottom: 0.25rem;
  }
  .contact-fieldset legend {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
  .contact-fieldset label {
    margin-bottom: 0.25rem;
  }
  .contact-fieldset input {
    margin-bottom: 0.25rem;
  }
  .mensaje {
    margin-bottom: 0.25rem;
  }
  .mensaje label {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
  .btn-submit {
    margin-bottom: 0.25rem;
  }
  .btn-submit .btn-custom {
    padding: 0.2rem 0.65rem 0.2rem 0.65rem;
  }
}
footer {
  background-color: #141b38;
  color: #ededed;
  margin-top: auto;
  padding-top: 0.5rem;
}
@media (max-width: 992px) {
  footer {
    padding-top: 0.25rem;
  }
}
footer .social-media {
  display: none;
  align-items: center;
  justify-content: center;
}
footer .social-media img {
  border-radius: 100%;
  border: 1px solid #d7efff;
  background-color: #d7efff;
  width: 2rem;
}
@media (max-width: 992px) {
  footer .social-media {
    display: flex;
  }
}
footer .social-link {
  padding: 0.25rem;
  margin: 0.25rem;
  text-align: center;
}
footer article {
  text-align: center;
  padding: 0.25rem;
}
footer article p {
  justify-content: space-around;
  align-items: center;
  margin: 0.25rem;
}

/*# sourceMappingURL=style.css.map */
